p {
    color: rgba(149, 0, 169, 0.871);
    font-family: Montserrat; /* la "," coma separa una fuente de otra por si alguna falla mostrar la otra*/
    font-size: 13px; /* El font-size tiene varias unidades de medida */
    font-weight: 500; /* define el gruesor de la tipografia  700 es igual que escribir bold*/
    font-style: italic;  /* Definir si es cursiva o que estilo va tener*/
    text-align: justify; /* solo sirve para textos que estan dentro de un bloque grande (margenes , espacio)*/
    text-decoration: none; /* Define si le queremos poner subrayado o quitarlo , tambien que tenga linea abajo o arriba del texto*/
    line-height: 1.3; /* Espaciado de la caja donde va el texto */
    letter-spacing: 1px; /* Espaciado de la letra*/
    text-transform: capitalize; /* sirve para ponerlo en mayuscula , minuscula */
    word-wrap: break-word; /* Corta las palabras*/
    word-break: break-all; /* Agarra las palabras y me las corta a ala mitad*/

}

.main_text{
    color: hwb(0 0% 0%);
}

