.main {
    padding: 1rem;
    width: 100%;
    max-width: 40rem;
    margin: auto;
    text-align: center;
}

.column_all{ 
    display: flex;
    gap: 1rem;
}

.titles h3 , .container_elements p, .container_subtitulos h2{
    flex: 1;
    text-align: center;
}



