
.container_listas , .container_titulos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
    max-width: 700px;
    padding: 0;
    margin-right: auto;
}

.container_listas ul { 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.container_titulos h3 , .container_listas ul { 
    flex: 1;
    text-align: left;
}

.container_titulos h3 {
    text-align: start ;
}